[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
mypy = "*"
pytest = "*"
snapshottest = "*"

[packages]
requests = "*"
betamax = "*"
cartopy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
humanize = "*"
lxml = "*"
dill = "*"
tqdm = "*"
auto2to3 = "*"
rasterio = "*"
arcrest = "*"
cython = "*"
numpy = "*"
