[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
mypy = "*"
pytest = "*"

[packages]
requests = "*"
betamax = "*"
cartopy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
humanize = "*"
lxml = "*"
dill = "*"
tqdm = "*"
rasterio = "*"
arcrest = "*"
cython = "*"
numpy = "*"
gn-arcrest = "*"
